[project]
name = "2025"
version = "0.1.0"
description = "Advent of code scripts for 2025"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
